AIRTABLE_BASE_URL=https://api.airtable.com/v0/appFtyAXSYJQ0UhNV
# Token completo do Airtable (Personal Access Token). Deve começar com "pat" e ter ~80+ caracteres.
AIRTABLE_TOKEN=
SMTP_USER=noreply.box4pets@gmail.com
SMTP_PASSWORD=
